{% extends 'layout.html' %}

{% block content %}

<form action="/category" method="post" enctype="multipart/form-data">

  <input class="form-control form-control-md"
         type="file" name="image" accept="image/png,image/jpeg,image/jpg"
         placeholder="Image File">

  <div class="col-sm-10 offset-sm">
    <button type="submit">Submit</button>
  </div>

</form>


{% if local.file %}
<h3>Uploaded File</h3>

<div class="row">
  <div class="col-sm-10">
    <label>{{ local.file.filename }}</label>
  </div>
  <div class="col-sm-10">
    <img src="data:{{ local.file.mimetype }};base64,{{ local.file_base64 }}">
  </div>
</div>
{% endif %}

{% endblock %}

