{% extends 'layout.html' %}

{% block content %}

<h3 class="mt-3">画像選択</h3>

<form action="/category" method="post" enctype="multipart/form-data">

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <input type="file" name="image" accept="image/png,image/jpeg,image/jpg"
               class="form-control-file"
               placeholder="Image File">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button type="submit">推測する</button>
    </div>
  </div>

</form>


{% if local.file %}
<div class="row mt-4">
  <div class="col-sm-10">

    <div class="row">
      <div class="col-sm-6">
        {% if local.predicted %}
        <h4>判定結果</h4>

        <table class='table'>
          <tbody>
          <tr>
            <td>ジャンル</td>
            <td>成分</td>
          </tr>
          <tr style="{% if local.y == 0 %}background-color: greenyellow;{% endif %}">
            <td>ファンタジー</td>
            <td>{{ '%0.5f'| format(local.y_proba[0]|float) }} %</td>
          </tr>
          <tr style="{% if local.y == 1 %}background-color: greenyellow;{% endif %}">
            <td>恋愛</td>
            <td>{{ '%0.5f'| format(local.y_proba[1]|float) }} %</td>
          </tr>
          <tr style="{% if local.y == 2 %}background-color: greenyellow;{% endif %}">
            <td>文芸</td>
            <td>{{ '%0.5f'| format(local.y_proba[2]|float) }} %</td>
          </tr>
          <tr style="{% if local.y == 3 %}background-color: greenyellow;{% endif %}">
            <td>SF</td>
            <td>{{ '%0.5f'| format(local.y_proba[3]|float) }} %</td>
          </tr>
          </tbody>
        </table>
        {% endif %}
      </div>

      <div class="col-sm-6">
        <h4>画像:{{ local.file.filename }}</h4>

        <div class="row">
          <div class="col-sm-10">
            <img src="data:{{ local.file.mimetype }};base64,{{ local.file_base64 }}"
                 style="width: 300px;">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endif %}

{% endblock %}

